#wrapper{
	width: 960px;
	margin: auto;
}

header{
	height: 100px;
	width: 940px;
	float: left;
	background: url(7.jpg);
	background-size: 960px 120px;
	padding: 20px 0px 0px 20px;
	font-family: arial;
	font-size: 72px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	text-shadow: #000 2px 2px 1px;
}

nav{
	height:29px;
	width: 960px;
	float: left;
	background-color: #EEE;
	font-family: arial;
	font-weight: bold;
}

nav ul{
	list-style: none;
	float: left;
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

nav ul li{
	display: block;
	padding: 5px 10px 5px 10px;
	float: left;
	margin: 0px;
	border-right: solid 1px #666;
}

nav ul li .submenu{
	display: none;
}

nav ul li:hover .submenu{
	display: block;
	margin: 0px;
	width: 100px;
	position: absolute;
	margin-top: 5px;
	border: solid 1px #AAA;
	background: #aaa;
	margin-left: -11px;
	color: #fff;

}

nav ul li:hover .submenu li{
	display: block;
	width: 89px;
	padding: 5px;
	float: left;
	border: none;
}

nav ul li:hover{
	background: #BBBBBF;
}

nav ul li a{
	color: #000;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}


#wrapper #content{
	width: 620px;
	float: left;
	padding: 10px;
	background-color: white;
}

#wrapper #content #single{
	margin: 5px;
	border: solid 1px #dfdfdf;
	padding: 5px;
	font-family: arial;
	font-size: 13px;
	float: left;
	overflow: auto;
	background-color: snow;
}

#wrapper #content #single #featured-img{
	width: 150px;
	height: 150px;
	background-size: 350px 150px;
	background-position: center;
	float: left;
	overflow: auto;
	margin-right: 10px;
	margin-top: 40px;
}

#wrapper #content #single h2{
	margin: 0px;
	font-family: arial;
	font-size: 18px;
	padding: 5px;
	border: solid 1px #dfdfdf;
	background: #eee;
	margin-bottom: 10px;
}

#wrapper #content #single #more a{
	float: right;
	overflow: auto;
	padding: 2px 10px;
	background: #ccc;
	border: solid 1px #ff9933;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	color: #000;
}

#wrapper #content #single #more a:hover{
	background: #ddd;
	border: solid 1px #cc6600;
}
#wrapper .sidebar{
	width: 300px;
	height: 15px;
	float: left;
	padding: 8.7px;
	background-color: #EEEEEE;
	border:solid 1px black;
	text-align: center;
	transition: 1s all;
}

#wrapper .sidebar:hover{
	background-color: #FFFFEE;
	height: 35px;
}

footer{
	width: 960px;
	float: left;
	background: #EEE;
}

footer #column{
	width: 298px;
	padding: 10px;
	float: left;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}